{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-a">

    {% if user_profile.is_student %}
    <div class="content" style="margin-left: 110px; padding: 5px; margin-right: 0px;">
        <section class="p-4" style="animation: fadeIn 1s ease-in-out;">
            <h1 style="color: rgb(77, 0, 116);">- Your Enrolled Courses</h1>
            <br>
            <div class="row">
                {% for enrollment in enrolled_courses %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ enrollment.course.title }}</h5>
                            <br>
                            <!--<p class="card-text">{{ enrollment.course.description }}</p>-->
                            <a href="{% url 'view_course' enrollment.course.id %}" class="btn btn-success"
                                style="background-color: rgb(50, 1, 95); border: none;">View Course</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>You have not enrolled in any courses yet.</p>
                {% endfor %}
            </div>
            <header class="d-flex justify-content-between align-items-center mb-4">
                <h1 style="color: rgb(77, 0, 116);">- All Available Courses</h1>
                <div class="d-flex align-items-center">
                    <div class="input-group me-3" style="max-width: 300px;">
                        <!-- Activate Teacher Account -->
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="activateSwitch">
                            <label class="form-check-label text-primary" for="activateSwitch">
                                <i class="fas fa-exclamation-circle"></i> Activate teacher account
                            </label>
                        </div>
                    </div>
                </div>
            </header>

            <br id="development">
            <h2>Development Courses</h2>
            <br>
            <div class="slider-container d-flex align-items-center">
                <div class="course-grid">
                    <a href="https://www.coursera.org/learn/the-structured-query-language-sql" target="_blank">
                        <div class="course-card">
                            <img src="../../static/img/SQL_Logo-copy.png" alt="course">
                            <i class="fab fa-microsoft"> <span>microsoft</span></i>
                            <h3>The Structured Query Language (SQL)</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <a href="https://www.coursera.org/learn/leading-teams-developing-as-a-leader" target="_blank">
                        <div class="course-card">
                            <img src="../../static/img/GIES_Icon_B.png" alt="course">
                            <i class="fab fa-google"> <span>google</span></i>
                            <h3>Leading Teams: Developing as a Leader</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <a href="https://www.coursera.org/specializations/graphic-design" target="_blank">
                        <div class="course-card">
                            <img src="../../static/img/design.png" alt="course">
                            <i class="fab fa-c"> <span>coursera</span></i>
                            <h3>UI/UX Beginners</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <a href="https://www.coursera.org/specializations/data-science-foundations-r" target="_blank">
                        <div class="course-card">
                            <img src="../../static/img/Data-Science-Fundementals-in-Research.png" alt="course">
                            <i class="fab fa-google"> <span>google</span></i>
                            <h3>Data Science: Foundations using R Specialization</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <!-- More courses... -->
                </div>
            </div>

            <br id="design">
            <h2>Design courses</h2>
            <br>
            <div class="slider-container d-flex align-items-center">
                <div class="course-grid">
                    <a href="https://www.coursera.org/learn/fundamentals-of-graphic-design" target="_blank">
                        <div class="course-card">
                            <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/dc/1d37b0e47f11e5a403f7dee24cfcd7/01.FUND_1200-x-1200_logo.jpg?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=204&fit=crop&q=50"
                                alt="course">
                            <i class="fab fa-microsoft"> <span>microsoft</span></i>
                            <h3>Fundamentals of Graphic Design</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <a href="https://www.coursera.org/learn/philosophy" target="_blank">
                        <div class="course-card">
                            <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/04/d57b80c12111e694fd8bca8aebde40/school-of-athens-raphael-1080x1080.jpg?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=204&fit=crop&q=50"
                                alt="course">
                            <i class="fab fa-google"> <span>google</span></i>
                            <h3>Introduction to Philosophy</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <a href="https://www.coursera.org/specializations/modern-contemporary-art-design" target="_blank">
                        <div class="course-card">
                            <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://d15cw65ipctsrr.cloudfront.net/7f/4cd8b5440f47bf97c1ee1b42575bbc/Van-gogh_3.jpg?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=204&fit=crop&q=50"
                                alt="course">
                            <i class="fab fa-c"> <span>coursera</span></i>
                            <h3>Modern and Contemporary Art and Design Specialization</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <a href="https://www.coursera.org/learn/indigenous-canada" target="_blank">
                        <div class="course-card">
                            <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/35/01fcc0dd0011e6bfe6e9e792d574eb/Logo.png?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=204&fit=crop&q=50"
                                alt="course">
                            <i class="fab fa-google"> <span>google</span></i>
                            <h3>Indigenous Canada</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <!-- More courses... -->
                </div>
            </div>

            <br id="business">
            <h2>Business Courses</h2>
            <br>
            <div class="slider-container d-flex align-items-center">
                <div class="course-grid">
                    <a href="https://www.coursera.org/specializations/key-technologies-for-business" target="_blank">
                        <div class="course-card">
                            <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://d15cw65ipctsrr.cloudfront.net/93/1543b8c7d64dad864ca79e876a065d/Key-Technology-Foundations-1-.png?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=204&fit=crop&q=50"
                                alt="course">
                            <i class="fab fa-microsoft"> <span>microsoft</span></i>
                            <h3>Key Technologies for Business Specialization</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <a href="https://www.coursera.org/professional-certificates/facebook-social-media-marketing"
                        target="_blank">
                        <div class="course-card">
                            <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://d15cw65ipctsrr.cloudfront.net/95/2c63e02d2e11e8a1d9e795f1564d31/aos_logo.png?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=204&fit=crop&q=50"
                                alt="course">
                            <i class="fab fa-amazon"> <span>amazon</span></i>
                            <h3>Meta Social Media Marketing Professional Certificate</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <a href="https://www.coursera.org/specializations/graphic-design" target="_blank">
                        <div class="course-card">
                            <img src="../../static/img/design.png" alt="course">
                            <i class="fab fa-c"> <span>coursera</span></i>
                            <h3>Data Science: Foundations using R Specialization</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <a href="https://www.coursera.org/learn/strategic-management" target="_blank">
                        <div class="course-card">
                            <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/7b/14e650668c11e5929a370796729205/Skakbrik-2-varianter_Side_2.jpg?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=204&fit=crop&q=50"
                                alt="course">
                            <i class="fab fa-google"> <span>google</span></i>
                            <h3>Strategic Management</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <!-- More courses... -->
                </div>
            </div>

            <br id="marketing">
            <h2>Marketing Courses</h2>
            <br>
            <div class="slider-container d-flex align-items-center">
                <div class="course-grid">
                    <a href="https://www.coursera.org/learn/neuromarketing" target="_blank">
                        <div class="course-card">
                            <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera-course-photos/6e/f6800d9aa59cab44a6b239a6d8c62e/banner1__1280x720px.png?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=216&q=50&fit=crop"
                                alt="course">
                            <i class="fab fa-microsoft"> <span>microsoft</span></i>
                            <h3>An Introduction to Consumer Neuromarketing</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <a href="https://www.coursera.org/projects/google-ads-beginner" target="_blank">
                        <div class="course-card">
                            <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera-course-photos/d5/3e32a0a1d544c08ad1f6ee13be3f75/Paid-Media---April-2020-Recap-6-.jpg?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=216&q=50&fit=crop"
                                alt="course">
                            <i class="fab fa-google"> <span>google</span></i>
                            <h3>Google Ads for Beginners</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <a href="https://www.coursera.org/professional-certificates/google-digital-marketing-ecommerce"
                        target="_blank">
                        <div class="course-card">
                            <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://d15cw65ipctsrr.cloudfront.net/5a/8b726b9c414ccc894ed397d66789fc/1060x596_GCC-photos_Trin.png?auto=format%2Ccompress%2C%20enhance&dpr=1&w=320&h=180&fit=crop&q=50&crop=faces"
                                alt="course">
                            <i class="fab fa-c"> <span>coursera</span></i>
                            <h3>Google Digital Marketing & E-commerce Professional</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <a href="https://www.coursera.org/professional-certificates/unilever-digital-marketing-analyst"
                        target="_blank">
                        <div class="course-card">
                            <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://d15cw65ipctsrr.cloudfront.net/63/ebab967eb44a28a9a6aed4ecace2a5/iStock-877748380.jpg?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=216&fit=crop&q=50"
                                alt="course">
                            <i class="fab fa-google"> <span>google</span></i>
                            <h3>Unilever Digital Marketing Analyst Professional</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <!-- More courses... -->
                </div>
            </div>

            <br id="technology">
            <h2>Technology Courses</h2>
            <br>
            <div class="slider-container d-flex align-items-center">
                <div class="course-grid">
                    <a href="https://www.coursera.org/learn/getinmooc" target="_blank">
                        <div class="course-card">
                            <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera-course-photos/cb/3c4030d65011e682d8b14e2f0915fa/shutterstock_226881610.jpg?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=216&q=50&fit=crop"
                                alt="course">
                            <i class="fab fa-microsoft"> <span>microsoft</span></i>
                            <h3>Get Interactive: Practical Teaching with Technology</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <a href="https://www.coursera.org/learn/leading-teams-developing-as-a-leader" target="_blank">
                        <div class="course-card">
                            <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/http://coursera-university-assets.s3.amazonaws.com/a4/7cd68a658840ddbb95c38cdd0bbc8e/aws-logo-icon-PNG-Transparent-Background.png?auto=format%2Ccompress&dpr=1"
                                alt="course">
                            <i class="fab fa-amazon"> <span>amazon</span></i>
                            <h3>AWS Cloud Technology Consultant Professional</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <a href="https://www.coursera.org/learn/people-technology-and-the-future-of-mobility"
                        target="_blank">
                        <div class="course-card">
                            <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera-course-photos/6f/a682e2ca874a3eadab26e95ac92aa9/Course-image.jpeg?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=216&q=50&fit=crop"
                                alt="course">
                            <i class="fab fa-c"> <span>coursera</span></i>
                            <h3>People, Technology and the Future of Mobility</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <a href="https://www.coursera.org/specializations/data-science-foundations-r" target="_blank">
                        <div class="course-card">
                            <img src="../../static/img/Data-Science-Fundementals-in-Research.png" alt="course">
                            <i class="fab fa-google"> <span>google</span></i>
                            <h3>Data Science: Foundations using R Specialization</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <a href="https://www.coursera.org/learn/the-structured-query-language-sql" target="_blank">
                        <div class="course-card">
                            <img src="../../static/img/SQL_Logo-copy.png" alt="course">
                            <i class="fab fa-microsoft"> <span>microsoft</span></i>
                            <h3>The Structured Query Language (SQL)</h3>
                            <p>Beginner - Course</p>
                        </div>
                    </a>
                    <br>
                    <hr>
                    <!-- More courses... -->
                </div>
            </div>

            <br id="#">
            <h2> E-learning Courses</h2>
            <br>
            <div class="slider-container d-flex align-items-center">
                <div class="course-grid" style="display: ruby;">
                    {% for course in available_courses %}
                    <a href="#">
                        <div class="course-card" style="overflow-y:auto; margin: 10px;">
                            <img src="../static/img/foot_icon.png" alt="course">
                            <i class="fab fa-e"> <span>E-learning</span></i>
                            <h3 class="card-title">{{ course.title }}</h3>
                            <!--<p class="card-text">{{ course.description }}</p>-->
                            <a href="{% url 'enroll_course' course.id %}" class="btn btn-outline-dark">Enroll Now</a>
                        </div>
                        {% empty %}
                        <p>No available courses at the moment.</p>
                        {% endfor %}
                    </a>
                </div>
                <br>
            </div>
        </section>
    </div>

    {% elif user_profile.is_teacher %}
    <!-- Section for Teacher's Courses -->
    <div class="row" style="padding-left: 140px; width: 1200px; height: 400px; display: block">
        <br>
        <h2 style="color: rgb(67, 6, 124);">- Your Courses</h2>
        <br>
        {% for course in created_courses %}
        <br>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description }}</p>
                    <a href="{% url 'view_course' course.id %}" class="btn btn-success">View Course</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>You have not created any courses yet.</p>
        {% endfor %}
        <div class="mt-4">
            <a href="{% url 'add_course' %}" class="btn btn-primary">Add New Course</a>
        </div>
    </div>


    <!-- Button to Add New Course -->
    {% endif %}

</div>
{% endblock %}