* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EAF0F9;
}

.container {
    display: flex;
    width: 100%;
    max-width: 900px;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;
}

.left-section {
    flex: 1;
    background-color: #f09b4c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.left-section .illustration img {
    margin-bottom: 50px;
    width: 100%;
    max-width: 500px;
}

.right-section {
    flex: 1.5;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.form-container p {
    margin-bottom: 20px;
    color: #666;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    color: #333;
}

.login-btn {
    width: 40%;
    margin: 0 140px;
    padding: 12px;
    font-weight: bold;
    background-color: #ff7113;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.2s ease-in-out;
    animation: bounceIn 0.8s ease-in-out;
}

.login-btn:hover {
    background-color: #d15502;
    transform: translateY(-5px);
}

.social-icons {
    margin-top: 20px;
}


.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.link{
    font-weight: bolder;
    padding: 24px;
    color: #e01414;
    transition: transform 0.2s ease-in-out;
    animation: bounceIn 0.8s ease-out;
    
}
.link:hover{
    color: #a00404;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

